<html lang="en">
    <%- include ('./partials/header.ejs')%>
<body>
    <div class="container-fluid justify-content-center align-items-center text-center" style="padding: 60px 0;">
        <p class="display-5">Page not found</p>
    </div>
</body>
<%- include('./partials/footer.ejs')%>
</html>