<html lang="en">
<%- include ('./partials/header.ejs') %>

    <body>
        <div class="container-fluid align-items-center justify-content-center text-center" style="padding: 60px 0">
            <p class="display-5"> Sorry</p>
            <p class="lead">The transaction failed, if you were debited, please contact support</p>
        </div>
    </body>
    <%- include ('./partials/footer.ejs') %>

</html>