<html lang="en">
<%- include ('./partials/header.ejs') %>

    <body>
        <div class="container-fluid align-items-center justify-content-center text-center" style="padding: 60px 0">
            <p class="display-5"> Thank you !</p>
            <p class="lead">The payment was successful </p>
            <p>Thank you for using TrustPay</p>
        </div>
        
    </body>
    <%- include ('./partials/footer.ejs') %>

</html>